---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for route in routes.canonical %}<url><loc>{{ route.canonical | canonicalUrl }}</loc>{% for alternate in route.alternates %}<xhtml:link rel="alternate" hreflang="{{ alternate.lang }}" href="{{ alternate.path | canonicalUrl }}"/>{% endfor %}</url>
{% endfor %}</urlset>
